// Place all the styles related to the Gem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.app-container {
  display: flex;
}

.content {
  width: 100%;
  padding-top: 200px;
  letter-spacing: 1px;
  padding-left: 648px;
}

@media (max-width: 1000px) {
  .content{
    padding-left: 258px;
  }
}

@media (max-width: 600px) {
  .content {
    padding-left: 50px;
  }
}
