
.gem-link {
  display: flex;
  line-height: 13px;
  font-size: 18px;
  margin: 30px 0;
  a {
    color: #1F6BDE;
    &:hover {
      color: #1F6BDE;
      cursor: pointer;
    }
  }
}
.gem-detail-container {
  margin-left: 50px;
}

.star {
  width: 15px;
  height: 15px;
  margin: 0 7px;
}

.heading {
  font-size: 15px;
  margin: 10px 0;
}

.gem-info {
  margin: 40px 0;
  width: 85%;
  max-width: 693px;
}

span {
  color: #8E8E8E;
  font-size: 15px;
}
