.nav-container {
  width: 532px;
  font-weight: 300;
  letter-spacing: .5px;
  position: fixed;
}
.map-container {
  height: 100%;
  position: relative;
  section {
    position: absolute;
    left: 390px;
    top: 374px;
    z-index: 2;
    div {
      display: block;
      height: 50px;
      width: 143px;
      color: #fff;
      line-height: 13px;
      font-size: 18px;
      padding: 12px 20px;
    }
  }
}

.bg{
  z-index: 1;
  position: absolute;
  background-color: #fff;
  opacity: .17;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.search-bg {
  top: -5px;
}

.fave-bg {
  top: 45px;
}

.link:hover {
  text-decoration: none;
}

.logo-container {
  position: absolute;
  width: 89px;
  top: 44px;
  left: 395px;
}
