.nav-container {
  width: 532px;
  font-weight: 300;
  letter-spacing: .5px;
  position: fixed;
}
.map-container {
  height: 100%;
  position: relative;
  ul {
    position: absolute;
    left: 390px;
    top: 370px;
    li {
      display: block;
      height: 50px;
      width: 143px;
      color: #fff;
      font-size: 18px;
      padding: 12px 20px;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.link:hover {
  text-decoration: none;
}

.logo-container {
  position: absolute;
  width: 89px;
  top: 44px;
  left: 395px;
}
