.search-bar-container {
  border: 1px solid #5F5F5F;
  font-size: 16px;
  color: #5F5F5F;
  border-radius: 100px;
  width: 90%;
  max-width: 780px;
  height: 89px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.search-button {
  width: 20px;
}

.title {
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 40px;
}
